<!-- ======= contato Section ======= -->
<section id="contato" class="contato">
  <div class="container">

    <div class="section-title">
      <h2>Contato</h2>
    </div>

    <div class="row" data-aos="fade-in">

      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="info">

          <div *ngFor="let social of socials" [class]="social.class">
            <i [class]="social.icon"></i>
            <h4>{{social.title}}</h4>
            <p>{{social.value}}</p>
          </div>

        </div>
      </div>
      <div class="col-lg-8 mt-5 mt-lg-0">
        <form role="form" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group mt-3">
              <input type="text" class="form-control" name="email" id="email" placeholder="Seu e-mail"
                [(ngModel)]="email">
            </div>
          </div>
          <div class="form-group mt-3"> <input type="text" class="form-control" name="Assunto" id="subject"
              placeholder="Assunto" [(ngModel)]="subject"></div>
          <div class="form-group mt-3"><textarea class="form-control" name="message" rows="5" placeholder="Mensagem"
              [(ngModel)]="message" id="message"></textarea></div>
          <button (click)="enviarEmail()" class="btn btn-primary" type="button">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contato Section -->

<footer id="footer">
  <div class="container profile">
    <div class="social-links mt-3 text-center">
      <a href="https://github.com/matheuspcouto" target="_blank" class="Github"><i class="bx bxl-github"></i></a>
      <a href="https://www.linkedin.com/in/matheuspcouto/" target="_blank" class="Linkedin"><i
          class="bx bxl-linkedin"></i></a>
      <a href="https://api.whatsapp.com/send?phone=5563992014337" target="_blank" class="Whatsapp"><i
          class="bx bxl-whatsapp"></i></a>
      <a href="https://t.me/MatheusPcouto" target="_blank" class="Telegram"><i class="bx bxl-telegram"></i></a>
    </div> <br>
    <div class="copyright">
      <span>Desenvolvido por Matheus Pimentel Do Couto - {{year}}</span>
    </div>
  </div>
</footer>
