/*--------------------------------------------------------------
# carreira
--------------------------------------------------------------*/

.carreira {
  mpc-tabs {
    --mpc-color-text-tabs: var(--color-primary);
    --mpc-color-text-active-tabs: var(--color-primary);
    --mpc-color-border-tabs: var(--color-primary);
    --mpc-color-border-active-tabs: var(--color-secondary);
    --mpc-font-tabs: var(--font-subtitle);
  }

  mpc-card-evento {
    /* Timeline */
    --mpc-color-border-timeline-card-evento: var(--color-primary);
    --mpc-color-bg-timeline-card-evento: var(--color-primary);

    /* Card */
    --mpc-color-bg-card-evento: white;

    &:nth-child(2n) {
      --mpc-color-bg-timeline-card-evento: white;
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 0;
      font-family: var(--font-title);
      color: var(--color-primary);
      text-transform: uppercase;
    }

    h5 {
      font-size: 16px;
      font-weight: 600;
      margin: 0.5rem 0;
      font-family: var(--font-title);
      color: var(--color-secondary);
      text-transform: uppercase;
    }

    span {
      background-color: #f5f8fd;
      color: var(--color-primary);
      border-radius: 5px;
      padding: 0.5rem;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
    }
  }
}
