<!-- ======= Experiencia e Formação Section ======= -->
<section class="carreira" id="carreira">
  <div class="container">

    <div class="section-title">
      <h2>Minha Carreira</h2>
    </div>

    <mpc-tabs [tabs]="abas" (tabSelected)="abaSelecionada = $event"></mpc-tabs>

    <div class="row">
      @if (abaSelecionada?.id === 'formacao-academica') {
      <div class="col-lg-12" data-aos="fade-up">
        <mpc-card-evento>
          <div card-body>
            <h4>Bacharelado em Sistemas de Informação</h4>
            <h5>Universidade Estadual do Tocantins - UNITINS</h5>
            <span>2018 - 2021</span>
          </div>
        </mpc-card-evento>
      </div>
      }

      @if (abaSelecionada?.id === 'experiencia-profissional') {
      <div class="col-lg-12" data-aos="fade-up">
        @for (trabalho of trabalhos; track $index) {
        <mpc-card-evento>
          <div card-body>
            <h4>{{ trabalho.titulo }}</h4>
            <h5>{{ trabalho.empresa }}</h5>
            <ul>
              @for (atividade of trabalho.atividades; track $index) {
              <li>{{atividade}}</li>
              }
            </ul>
            <span>{{ trabalho.periodo }}</span>
          </div>
        </mpc-card-evento>
        }
      </div>
      }
    </div>
  </div>
</section>
<!-- End Experiencia e Formação Section -->
