.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../../assets/img/mountain.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;

  .content {
    position: relative;
    z-index: 2;
    min-width: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    h1 {
      margin-bottom: 0.5rem;
      font-size: 64px;
      font-weight: 700;
      line-height: 56px;
      color: white;
    }

    .typed {
      padding: 0;
      animation: blink 3s infinite;
      width: fit-content;
      position: fixed;
      bottom: 100%;
      margin-bottom: 1rem;
    }

    h3 {
      color: white;
      font-size: 40px;
      font-weight: 700;
      border-right: 2px solid white;
      padding-right: 0.5rem;
      font-family: var(--font-title);
    }
  }
}

@keyframes blink {

  0%,
  100% {
    border-bottom: 3px solid var(--color-secondary);
  }
}

@media (max-width: 991.98px) {
  .page-header {
    .content {
      text-align: left;

      h1 {
        font-size: 36px;
        line-height: 32px;
      }

      .typed {
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 40px;
      }
    }
  }
}
