<app-menu></app-menu>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container text-lg-center" data-aos="fade-in">
    <h3><span class="typed" data-typed-items="Hello World !  "></span></h3>
    <h1>Welcome to my</h1>
    <h1>Portfolio.</h1>
  </div>
</section>
<!-- End Hero -->

<main id="main">

  <!-- ======= Sobre Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
        <p>Graduated in Information Systems. I am very communicative, creative, organized and easy to live
          with,
          I have the ability to learn, I am a Christian and youth cell leader,
          always looking for improvement and expansion of knowledge. I have skills with Fullstack
          Development,
          Programming Logic, SQL Transactions, Problem Solving and Intermediate English.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/perfil2.jpg" class="img-fluid rounded-lg" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Digital Solutions Consultant | Fullstack Developer</h3>
          <p class="font-italic">
            Currently working at Capgemini in the area of fullstack development, using Java and Angular.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Birth Date:</strong> May 23, 2000
                </li>
                <li><i class="icofont-rounded-right"></i> <strong>Living in:</strong> Palmas,
                  Tocantins, Brazil</li>
                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 22</li>
                <li><i class="icofont-rounded-right"></i> <strong>Born in:</strong> Belém, Pará,
                  Brazil</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Sobre Section -->

  <!-- ======= Conhecimentos Section ======= -->
  <section id="facts" class="facts section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Skills</h2>
      </div>

      <div class="row no-gutters">

        <div *ngFor="let sk of itensSkils" class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="count-box">
            <i [class]="sk.icon"></i>
            <span class="section-title">{{sk.title}}</span>
            <p *ngFor="let item of sk.itens"><strong>{{item}}</strong></p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Conhecimentos Section -->

  <!-- ======= Certificações Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Certifications</h2>
      </div>

      <div class="row">
        <div *ngFor="let cert of certifications" class="col-lg-5 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i [class]="cert.icon"></i></div>
          <h4 class="title">{{cert.title}}</h4>
          <p class="description">Finished in: {{cert.finishedDate}}</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End Certificações Section -->

  <!-- ======= Articles Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Published Articles</h2>
      </div>

      <div class="row">
        <div *ngFor="let art of articles" class="col-lg-12 col-md-6 icon-box" data-aos="fade-up">
          <div class="icon"><i class="icofont-book"></i></div>
          <h4 class="title">{{art.title}}</h4>
          <p class="description">{{art.journal + ' | ' + art.publishedDate}}</p>
          <p class="description">{{art.issn}}</p>
          <a [href]="art.url" target="_blank">
            <p class="description">See more ></p>
          </a>
        </div>
      </div>

    </div>
  </section>
  <!-- End Articles Section -->

  <!-- ======= Experiencia e Formação Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>My Career</h2>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
          <h3 class="resume-title">Academic Formation</h3>
          <div class="resume-item">
            <h4>Bachelor of Information Systems</h4>
            <p><em>Universidade Estadual do Tocantins - UNITINS</em></p>
            <p>Palmas, Tocantins, Brazil.</p>
            <h5>2018 - 2021</h5>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item" *ngFor="let job of jobs">
            <h4>{{job.title}}</h4>
            <h5>{{job.period}}</h5>
            <p><em>{{job.company}}</em></p>
            <ul>
              <li *ngFor="let act of job.activities">{{act}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Experiencia e Formação Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>My Projects</h2>
      </div>

      <div class="container">
          <div *ngFor="let project of projects" class="row justify-content-center no-gutters mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-5">
              <a [href]="project.url" target="_blank">
                <img class="img-fluid rounded-circle" [src]="project.image" alt="..." /></a>
            </div>
            <div class="col-lg-6 order-lg-first">
              <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                  <div [class]="'project-text w-100 my-auto text-center text-lg-' + project.position">
                    <h4 class="text-black text-lg-center">{{project.title}}</h4>
                    <p class="mb-0 text-black-50 text-lg-center">{{project.description}}</p>
                    <p class="mb-0 text-black-50 text-lg-center">{{project.tecnology}}</p>
                    <hr class="d-none d-lg-block mb-5 mr-0"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  </section>
  <!-- End Portfolio Section -->

</main>
<!-- End #main -->

<app-footer></app-footer>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
