#navbar {
  /* Cores */
  --mpc-color-bg-header: white;
  --mpc-color-text-disabled: var(--color-primary);
  --mpc-color-text-active: var(--color-primary);
  --mpc-color-text-hover: var(--color-primary);
  --mpc-color-border-active: var(--color-secondary);

  /* Fontes */
  --mpc-font-navbar: var(--font-subtitle);
}

#loader-exemplo {
  /* Cores */
  --mpc-bg-loader: white;
  --mpc-color-loader: var(--color-primary);
}

#btn-scroll-top {
  --mpc-btn-float-bg: var(--color-secondary);
  --mpc-btn-float-color: white;
}
