<!-- ======= Certificações Section ======= -->
<section class="certifications">
  <div class="container">

    <div class="section-title">
      <h2>Certificações</h2>
    </div>

    <div class="row">
      @for (cert of certificacoes | slice: 0:indiceCertificados; track $index) {
      <div class="col-lg-4 my-3">
        <mpc-card-menu [icone]="cert.icone" data-aos="fade-up" (click)="irParaCertificado(cert.url)">
          <div card-body>
            <h3>{{ cert.titulo }}</h3>
            <p>Obtido em: {{ cert.dataFinalizacao }}</p>
            @if (cert.url) {
            <span>Ver Certificado <i class="bi bi-link-45deg"></i></span>
            }
          </div>
        </mpc-card-menu>
      </div>
      }
    </div>

    @if (indiceCertificados < certificacoes.length) { <div class="row mt-3">
      <hr class="gy-3" />
      <div class="col-lg-12 justify-content-center align-items-center d-flex">
        <mpc-button class="btn-ver-mais" (click)="aumentaIndiceCertificados()" texto="Ver mais" icone="bi bi-arrow-down"
          posicaoIcone="direita" />
      </div>
  </div>
  }

  </div>
</section>
<!-- End Certificações Section -->
