.projetos {
  background-color: var(--color-tertiary);

  mpc-card {
    /* Cores */
    --mpc-bg-card: white;
    --mpc-border-color-card: var(--color-primary);
    --mpc-bg-links-card: var(--color-secondary);
    --mpc-color-links-card: white;
  }

  .tecnologias {
    margin-left: 5px;
    border-radius: 5px;
  }

  .btn-projeto {
    --mpc-bg-color-btn: var(--color-secondary);
    --mpc-text-color-btn: white;
    --mpc-bg-color-btn-hover: var(--color-primary);
  }
}
