<section class="projetos" id="projetos">
  <div class="container">

    <div class="section-title">
      <h2>Meus Projetos</h2>
    </div>

    <div class="row">
      @for (projeto of projetos; track $index) {
      <div class="col-lg-6 my-3" data-aos="fade-up">
        <mpc-card [imagem]="projeto.imagem">
          <div card-body>
            <h3>{{ projeto.titulo }}</h3>
            <p>{{ projeto.descricao }}</p>
            @for (tec of projeto.tecnologias; track $index) {
            <img [src]="tec" class="tecnologias" />
            }
            <hr class="gy-2">
            <div class="d-flex justify-content-center">
              <mpc-button class="btn-projeto" (click)="irParaProjeto(projeto)" texto="Ver Projeto" icone="bi bi-link" />
            </div>
          </div>
        </mpc-card>
      </div>
      }
    </div>

  </div>
</section>
