/*--------------------------------------------------------------
# Habilidades
--------------------------------------------------------------*/

.habilidades {
  background-color: var(--color-tertiary);

  .content {
    padding: 1rem;
    width: 100%;

    i {
      display: block;
      font-size: 44px;
      color: var(--color-secondary);
      float: left;
    }

    span {
      font-size: 48px;
      display: block;
      font-weight: 700;
      margin-left: 60px;
    }

    p {
      font-weight: bold;
      padding: 15px 0 0 0;
      margin: 0 0 0 60px;
      font-size: 14px;
    }
  }
}
