/*--------------------------------------------------------------
# Artigos
--------------------------------------------------------------*/
.artigos {

  .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: var(--color-secondary);
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid var(--color-secondary);

    i {
      color: white;
      font-size: 24px;
    }

    &:hover {
      background: white;
      color: var(--color-secondary);
    }
  }

  .titulo {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;

    a {
      color: var(--color-tertiary);

      &:hover {
        color: var(--color-secondary);
      }
    }
  }

  .descricao {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
  }
}
