<!-- ======= Artigos Section ======= -->
<section class="artigos">
  <div class="container">

    <div class="section-title">
      <h2>Artigos Publicados</h2>
    </div>

    <div class="row">
      @for (artigo of artigos; track $index) {
      <div class="col-lg-12 mb-3">
        <mpc-card-menu icone="bi bi-book" data-aos="fade-up" (click)="irParaArtigo(artigo.url)">
          <div card-body>
            <h3>{{ artigo.titulo }}</h3>
            <p>{{ artigo.revista + ' | ' + artigo.dataPublicacao }}</p>
            <p>{{ artigo.issn }}</p>
            @if (artigo.url) {
            <span>Ver Artigo <i class="bi bi-link-45deg"></i></span>
            }
          </div>
        </mpc-card-menu>
      </div>
      }
    </div>

  </div>
</section>
<!-- End Artigos Section -->
